.contact-details {
  list-style: none;
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  gap: 10px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      gap: 5px;
      font-weight: 700;

      &:hover {
        color: var(--red-color);
      }

      .contact-details-icon-wrapper {
        display: inline-block;
        height: 30px;
        width: auto;

        img {
          width: auto;
          height: 100%;
        }
      }

      .contact-details-icon-wrapper.email-icon {
        height: 25px;
      }
    }

    p {
      font-weight: 600;
    }

    &:nth-last-of-type(1) {
      p {
        margin: 7px 0;
      }
    }
  }

  .excursion-schedule-title {
    p {
      margin-bottom: 3px;
    }
  }
}

form {
  margin: 50px auto 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-medium);

  h3 {
    font-size: var(--h3-fs);
    color: var(--black-color);
  }

  label {
    margin-top: 20px;
    color: var(--black-color);
    font-weight: 700;
    text-align: left;
  }

  input,
  textarea {
    padding: var(--input-padding);
    margin-top: 4px;
    width: 100%;
    border-radius: var(--border-radius-min);
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--black-color);
  }

  textarea {
    min-height: 200px;
    resize: none;
  }

  .btn {
    text-transform: uppercase;
    font-weight: 700;
    max-width: 100%;
    align-self: center;
    margin-top: 15px;
    box-shadow: var(--box-shadow-medium);
    color: var(--black-color);
    background-color: var(--tertiary-color);

    &:hover {
      box-shadow: var(--box-shadow-none);
      color: var(--black-color);
      background-color: var(--tertiary-color);
    }
  }

  .greetings-wrapper {
    margin-top: 50px;
    text-align: left;

    p {
      margin: 0;
    }
  }

  .form-error {
    color: var(--orange-color);
    font-weight: 700;
    margin-top: 5px;
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }
}
