footer .container {
  padding: var(--padding-mobile);
}

footer {
  margin: 40px 0 0 0;
  background-color: var(--tertiary-color);
  box-shadow: var(--box-shadow-hard-white);

  ul {
    padding: 0;
  }

  .container {
    .footer-main-wrap {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .footer-nav-header,
      .footer-contact-header {
        color: var(--black-color);
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        font-size: smaller;
        margin-bottom: 4px;
      }

      .footer-contact-wrapper {
        .footer-contact {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 2px;
          padding: 0;

          li {
            list-style: none;
            display: flex;
            justify-items: center;
            align-items: center;
            transition: var(--transition-standard);

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
              font-size: var(--a-link-fs-footer);
              color: var(--black-color);

              .contact-details-icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                background-color: transparent;
                border-radius: 50%;
                padding: 5px;

                img {
                  width: 100%;
                }
              }

              &:hover {
                color: var(--red-color);
              }
            }
          }
        }
      }

      .footer-nav-wrapper {
        margin-top: 20px;

        .footer-nav {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2px;

          a {
            font-size: var(--a-link-fs-footer);

            &:hover {
              color: var(--red-color);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 450px) {
  footer {
    .container {
      .footer-main-wrap {
        flex-direction: row;
        gap: 40px;

        .footer-contact {
          justify-content: flex-start;
        }

        .footer-nav-wrapper {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  footer .container {
    padding: var(--padding-standard);
  }
}

@media (min-width: 650px) {
  footer {
    .container {
      h3 {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;

        span {
          margin-right: 20px;
        }
      }

      .footer-main-wrap {
        flex-direction: row;
      }
    }
  }
}
