footer {
  margin: 80px 0 0 0;
  background-color: var(--very-dark-green-color);
  box-shadow: var(--box-shadow-hard-white);
  border-top: 2px solid black;

  .container {
    h3 {
      margin: 20px 0;
      color: var(--white-color);
    }

    .footer-nav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      li {
        list-style: none;
        min-width: 300px;
        display: flex;
        justify-items: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-size: var(--a-link-fs-footer);
          color: var(--white-color);

          .contact-details-icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: white;
            border-radius: 50%;
            padding: 6px;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
