* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d7fff6bd;
}

:root {
  min-height: 100vh;
  position: relative;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-color: rgb(33, 53, 71);
  --light-blue-color: #b1daec;
  --dark-blue-color: #243662;
  --very-dark-blue-color: #121d38;
  --orange-color: #ff5722;
  --yellow-color: #ffa210;
  --yellow-light-color: #ffe3b3;

  --white-color: #fff;

  /* font-size */
  --h1-fs: clamp(2.5rem, 5vw, 2.8rem);
  --h1-spam-fs: clamp(1.6rem, 3vw, 2.2rem);
  --h2-fs: clamp(1.5rem, 3vw, 2rem);
  --a-link-fs: clamp(1rem, 2vw, 1.5rem);
  --a-link-fs-footer: clamp(1rem, 2vw, 1.1rem);
  --paragraph-fs: clamp(1rem, 3vw, 1.2rem);
  --paragraph-slider-fs: clamp(1rem, 2vw, 1.5rem);
  --btn-fs: clamp(1.2rem, 2vw, 1.5rem);

  /* transitions */
  --transition-standard: 0.2s;
  --transition-medium: 0.5s;

  /* padding */
  --mobile-view-padding: 5px 15px;
  --desktop-view-padding: 5px 0px;
  --desktop-media-queries-padding: 5px 25px;
  --input-padding: 8px 5px;

  /* border-radius */
  --border-radius-min: 5px;
  --border-radius-small: 10px;

  /* box-shadow */
  --box-shadow-null: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
  --box-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.9), 0 6px 20px rgba(0, 0, 0, 0.9);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: var(--mobile-view-padding);
  text-align: center;
}

section {
  margin-top: 40px;
}

p,
label,
input,
textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--paragraph-fs);
}

a {
  font-weight: 500;
  color: var(---primary-color);
  text-decoration: inherit;
  font-size: var(--a-link-fs);
  transition: var(--transition-standard);
}
a:hover {
  color: var(--orange-color);
}

.active {
  color: var(--orange-color);
}

h1 {
  font-size: var(--h1-fs);
  line-height: 1.1;
}

h2 {
  font-size: var(--h2-fs);
}

h3 {
  margin-top: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--orange-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--very-dark-blue-color);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 576px) {
  .container {
    padding: var(--desktop-media-queries-padding);
  }
}
