* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-denary);
}

:root {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color-scheme: light dark;
  color: #213547;
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --color-black: #000;
  --color-primary: #12273c;
  --color-secondary: #183f60;
  --color-tertiary: #183f60;
  --color-quaternary: #20639a;
  --color-quinary: #2679bd;
  --color-senary: #72b1e4;
  --color-septenary: #72b1e4;
  --color-octonary: #a7d2f4;
  --color-nonary: #ddeffd;
  --color-denary: #f2f6ff;
  --color-white: #fff;

  --fifth-color: #ede0d4;
  --sixth-color: #281c0e;
  --light-blue-color: #b1daec;
  --very-light-green-color: #f7fff8;
  --light-beige-color: #fff5ef;
  --light-green-color: #84a98c;
  --dark-blue-color: #243662;
  --very-dark-blue-color: #2f3e46;
  --very-dark-green-color: #79a086;
  --orange-color: #c44536;
  --red-color: #772e25;
  --yellow-color: #ffa210;
  --yellow-light-color: #ffe3b3;
  --active-color: var(--orange-color);

  --color-hover: rgb(53 57 58);

  /* font-size */
  --h1-fs: 2rem;
  --h1-spam-fs: 2rem;
  --h2-fs: 1.5rem;
  --h2-fs-offer: 1.5rem;
  --h3-fs: 1.17rem;
  --h4-fs: 1rem;
  --a-link-fs: 1rem;
  --a-link-fs-footer: 1rem;
  --paragraph-fs: 1rem;
  --paragraph-slider-fs: 1rem;
  --btn-fs: 1rem;

  /* transitions */
  --transition-fast: 0.1s;
  --transition-standard: 0.2s;
  --transition-medium: 0.5s;

  /* padding */
  --padding-small: 7px 8px;
  --padding-standard: 5px 15px;
  --padding-mobile: 0 5px;
  --padding-desktop: 5px 10px;
  --padding-slider: 2px 5px;
  --desktop-media-queries-padding: 5px 25px;
  --input-padding: 8px 5px;

  /* border-radius */
  --border-radius-min: 5px;
  --border-radius-medium: 8px;
  --border-radius-small: 10px;

  /* box-shadow */
  --box-shadow-null: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
  --box-shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.9), 0 6px 20px rgba(0, 0, 0, 0.9);
  --box-shadow-hard-inset: inset 0 4px 5px rgba(0, 0, 0, 0.9), inset 0 6px 50px rgba(0, 0, 0, 0.9);
  --box-shadow-hard-white: 1px 1px 6px white;

  /* text-shadow */
  --text-shadow: 3px 3px 20px var(--black-color);
  --text-shadow-hover: 4px 4px 4px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.2);
  --prefix-text-shadow: 4px 5px 4px #000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--padding-standard);
  text-align: center;
}

section,
article {
  margin-top: 35px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

p,
label,
input,
textarea {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--paragraph-fs);
  color: var(--color-primary);
}

a {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 400;
  color: var(--color-primary);
  text-decoration: inherit;
  font-size: var(--a-link-fs);
  transition: var(--transition-standard);
}

.active {
  position: relative;

  transition: var(--transition-standard);
}

/* .active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 110%;
  transform: translateX(-5%);
  height: 2px;
  background-color: var(--white-color);
} */

p,
label,
input,
textarea,
a,
li {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: var(--h1-fs);
  text-shadow: var(--text-shadow);
  color: var(--black-color);
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: var(--h2-fs);
  margin-bottom: 10px;
  font-weight: 800;
  color: var(--black-color);
  font-style: italic;
  text-shadow: var(--text-shadow);
}

h3 {
  margin-top: 20px;
  font-weight: 700;
}

button {
  font-family: "Nunito", sans-serif;
}

button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.1em;
  font-size: calc(var(--btn-fs) - 2px);
  font-weight: 400;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light-beige-color);
  transition: var(--transition-medium);
  text-transform: uppercase;
}
button:hover,
.btn:hover {
  box-shadow: var(--box-shadow-null);
  background-color: var(--color-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  object-fit: cover;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 576px) {
  .container {
    padding: var(--desktop-media-queries-padding);
  }
}
