.hero-wrapper {
  height: 50vh;
  overflow: hidden;
  transform: scale(100%);
}

.hero {
  background: url("../../dist/pictures/pexels-blooddrainer-566496.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: var(--very-light-green-color);
  animation: scaleBg 20s infinite alternate ease-in-out;
  transition: var(--transition-medium);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@keyframes scaleBg {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeInText 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(var(--h1-fs) - 2vw);

  h1 {
    color: var(--very-light-green-color);
  }

  p {
    font-size: calc(var(--paragraph-fs) - 4px);
    padding: var(--mobile-view-padding);
  }

  button {
    background-color: var(--orange-color);
    border: 2px solid var(--orange-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    /* padding: 7px 15px; */
    color: var(--black-color);
    font-size: calc(var(--paragraph-fs) - 5px);

    &:hover {
      box-shadow: var(--box-shadow-hard);
      background-color: var(--red-color);
      border: 2px solid var(--red-color);
    }
  }
}

/* Animacja pojawiania się tekstu */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 480px) {
  .hero-wrapper {
    height: 50vh;
  }
}
