.hero-wrapper {
  height: 30vh;
  overflow: hidden;
  transform: scale(100%);
}

.hero {
  background: url("/pictures/pexels-blooddrainer-566496-q_gZJS7X.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: var(--very-light-green-color);
  transition: var(--transition-medium);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@keyframes scaleBg {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeInText 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(var(--h1-fs) - 2vw);

  h1 {
    color: var(--very-light-green-color);
  }

  p {
    font-size: calc(var(--paragraph-fs) - 4px);
    padding: var(--mobile-view-padding);
  }

  .hero-btn {
    color: var(--black-color);
    text-transform: uppercase;
    box-shadow: var(--box-shadow-hard);
    transition: var(--transition-standard);
    font-weight: 700;

    &:hover {
      box-shadow: var(--box-shadow-none);
      background-color: var(--orange-color);
      color: var(--black-color);
    }
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@media (min-width: 600px) {
  .hero {
    animation: scaleBg 20s infinite alternate ease-in-out;
  }
}
