.slider-container {
  width: 100%;
  margin: auto;
}

.slick-list {
  padding: 0;
}

.slick-slide div {
  margin: 0 auto;
  width: 98%;
}

.slider-item {
  border-radius: var(--border-radius-small);
  text-align: center;
  background-color: var(--color-octonary);
  cursor: pointer;
  padding: 0 0 20px;
  display: flex !important;
  flex-direction: column;

  h2 {
    order: 2;
    margin: 8px 0;
    padding: var(--padding-slider);
    font-size: calc(var(--h2-fs-offer) - 7px);
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    color: var(--black-color);
    text-align: left;

    span {
      display: block;
    }
  }

  .slider-desc-abbrev {
    text-align: left;
    font-size: var(--paragraph-slider-fs);
  }

  .slider-offer-price {
    order: 3;
    margin-top: 15px;
    font-size: var(--paragraph-slider-fs);
    font-weight: 700;
    text-align: left;
    padding: var(--padding-slider);
  }

  .slider-img-wrapper {
    order: 1;
    width: 100%;
    height: 150px;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: var(--border-radius-medium);
      border-top-right-radius: var(--border-radius-medium);
    }
  }
}

.slider-offer-details-btn {
  order: 4;
  text-transform: uppercase;
  width: 90%;
  margin: auto;
}

.slick-prev,
.slick-next {
  box-shadow: none;
  z-index: 1;
}

.slick-prev {
  left: 20px;
}
.slick-next {
  right: 30px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  border-radius: 50%;
  opacity: 0.5;
  font-size: 30px;
  transition: var(--transition-standard);
}

.slick-dots {
  li button:before {
    font-size: 12px;
  }
}

/* media queries */

@media (min-width: 576px) {
  .slider-item {
    h2 {
      font-size: calc(var(--h2-fs-offer) - 8px);
    }
  }
}
