.nav {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--color-denary);
  /* box-shadow: var(--box-shadow-light); */
  border-bottom: 1px solid;
}

.nav .container,
ul {
  display: flex;
}

.nav .container {
  padding: 0 15px;
}

.nav .container {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  /* hamburger menu bars */
  .hamburger-menu {
    cursor: pointer;
    .bars {
      display: block;
      width: 30px;
      height: 2px;
      margin: 4px 0;
      background-color: var(--color-primary);
      border-radius: 50px;
      transition: var(--transition-standard);
    }

    /* bars transition */
    .bar-one {
      transform: translateY(10px) rotate(45deg);
      margin: 8px 0;
    }

    .bar-three {
      transform: translateY(-10px) rotate(-45deg);
      margin: 8px 0;
    }

    .bar-two {
      opacity: 0;
    }
  }

  .nav-main_list {
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 52px;
    left: -100vw;
    transition: var(--transition-medium);
    padding-bottom: 20px;
    background-color: var(--color-denary);

    li {
      display: block;
      text-align: left;
      font-size: calc(var(--normal-font-size) + 2vw);
      width: 100%;
      padding: var(--padding-standard);
      margin: 5px 0;
      transition: var(--transition-medium);
      text-transform: uppercase;

      &:hover {
        background-color: var(--color-octonary);
      }
    }
  }

  .background-action {
    background-color: var(--color-no7);
  }

  .show {
    left: 0;
  }
}

/* media queries */
@media (min-width: 600px) {
  .nav .container {
    .hamburger-menu {
      display: none;
    }

    .nav-main_list {
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      width: 60%;
      height: 100%;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: var(--desktop-view-padding);
        margin: 0;
        padding: 0;
        height: 100%;
      }
    }
  }
}
