.offers-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;

  .single-offer-price {
    font-size: var(--paragraph-slider-fs);
    font-weight: 700;
  }
}

.offer-img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.offer-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers-condition-not-meet {
  color: brown;
}

/* Breakpointy */
@media (min-width: 576px) {
  .offers-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .offers-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .offers-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .offers-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
