@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  position: relative;
  animation: fadeIn 0.2s ease-out;

  h2,
  h3,
  p {
    text-align: left;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    text-align: left;

    li {
      margin: 4px 0;
      line-height: 1.4;
      font-size: var(--paragraph-fs);
    }
  }

  .contact-details {
    align-items: flex-start;
    margin: 0;

    .contact-form-icon {
      margin-left: -3px;
      overflow: hidden;
    }
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 38px;
  cursor: pointer;
  box-shadow: none;
  padding: 0 10px;

  &:hover {
    box-shadow: none;
  }
}

.offer-img-wrapper {
  margin-bottom: 20px;
}

.offer-img-wrapper img {
  max-width: 100%;
  border-radius: 8px;
}

.modal-offer-price {
  margin: 5px 0;
  font-weight: 700;
}

.single-offer-btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
