.offers-list {
  display: grid;
  grid-template-columns: 100%;
  gap: 8px;
  margin-top: 20px;

  .single-offer {
    background-color: var(--color-white);
    padding: 0 0 15px;
    box-shadow: var(--box-shadow-medium);
    border-radius: var(--border-radius-small);
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: space-between;
    align-items: stretch;
    gap: 7px;

    .offer-img-wrapper {
      width: 100%;
      height: 140px;
      border-radius: 8px;
      display: flex;
      align-items: flex-start;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: var(--border-radius-small);
        border-top-right-radius: var(--border-radius-small);
      }
    }

    .single-offer-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: var(--padding-slide);

      h2 {
        font-size: var(--h2-fs-offer);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-shadow: var(--text-shadow);
        width: 100%;
        gap: 5px;
        text-align: left;
      }

      .offers-list-price-wrapper {
        margin-top: 10px;
        text-align: left;

        .single-offer-price {
          font-size: calc(var(--paragraph-slider-fs) - 1px);
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }

    .single-offer-btn {
      font-size: var(--btn-fs);
      transition: var(--transition-standard);
      align-self: center;
      margin: var(--padding-slide);
      display: block;

      &:hover {
        box-shadow: var(--box-shadow-null);
      }
    }
  }
}

.offers-condition-not-meet {
  color: brown;
}

/* Breakpointy */
@media (min-width: 420px) {
  .offers-list {
    grid-template-columns: 1fr 1fr;

    .single-offer {
      h2 {
        padding-top: 10px;
      }

      .single-offer-details {
        min-height: 160px;

        .offers-list-price-wrapper {
          display: grid;
          align-items: flex-end;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .offers-list {
    grid-template-columns: 1fr 1fr 1fr;

    /* .single-offer {
      .offers-list-price-wrapper {
        .single-offer-price {
          font-size: calc(var(--paragraph-slider-fs));
        }
      }
    } */
  }
}
