.OffersContainer {
  .offers-navigator {
    ul {
      display: grid;
      grid-template-columns: 1fr;
      list-style: none;
      padding: 10px;
      max-width: 600px;
      margin: auto;
      background-color: var(--light-green-color);
      border-radius: var(--border-radius-small);
      text-align: center;
      box-shadow: var(--box-shadow-hard);

      li {
        p {
          text-transform: uppercase;
          margin: 10px 0;
          font-weight: 700;
          transition: var(--transition-standard);
          text-shadow: var(--text-shadow);

          &:hover {
            text-shadow: none;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
