@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: grid;
  background-color: white;
  padding: 10px 15px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  position: relative;
  animation: fadeIn 0.2s ease-out;
  box-shadow: var(--box-shadow-hard);
  border-top: 15px solid white;
  border-bottom: 30px solid white;

  h2,
  h3,
  p {
    text-align: left;
    color: var(--black-color);
  }

  .offer-img-wrapper {
    margin-bottom: 20px;
    height: 220px;
    box-shadow: var(--box-shadow-hard);
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: var(--transition-standard);

      &:hover {
        transform: scale(140%);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;

    li {
      margin: 4px 0;
      line-height: 1.4;
      font-size: 18px;
    }
  }

  .contact-details {
    align-items: flex-start;
    margin: 0;

    .contact-form-icon {
      margin-left: -3px;
      overflow: hidden;
    }
  }
}

.modal-close {
  position: sticky;
  justify-self: flex-end;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: var(--red-color);
  border-radius: 50%;
  border: none;
  margin-right: 0;
  cursor: pointer;
  box-shadow: none;
  font-weight: 700;
  padding: 0 13px;
  color: var(--white-color);
  z-index: 1001;
  box-shadow: var(--box-shadow-hard);

  .svg-inline--fa {
    width: 100%;
    height: 100%;
  }

  &:hover {
    box-shadow: none;
    background-color: var(--black-color);
  }
}

.modal-offer-price {
  margin: 0;
  font-weight: 700;
}

.single-offer-btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .modal-content {
    width: 90vw;
    height: 90vh;

    .offer-img-wrapper {
      height: 300px;
    }
  }
}
