.container {
  .PageNavigator-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 15px 0 0 0;
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      .icon {
        width: 25px;
      }
    }

    p,
    .PageNavigator-button,
    .PageNavigator-element-paragraph {
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: var(--btn-fs);
      background-color: transparent;
      color: var(--primary-color);
      transition: var(--transition-standard);
    }

    .PageNavigator-element {
      width: 100%;

      &:hover p {
        color: var(--orange-color);
      }
    }

    .active {
      color: var(--orange-color);
    }

    .icon-wrapper {
      width: 100%;
    }
  }
}
