.container {
  .PageNavigator-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 15px 0 0 0;
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px 0;

      button {
        box-shadow: var(--box-shadow-null);

        .icon {
          width: 25px;
        }
      }
    }

    p,
    .PageNavigator-button,
    .PageNavigator-element-paragraph {
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: calc(var(--btn-fs) + 3px);
      background-color: transparent;
      color: var(--black-color);
      transition: var(--transition-standard);
      text-transform: uppercase;
    }

    .PageNavigator-element-paragraph {
      font-weight: 700;
      padding: 0;
    }

    .PageNavigator-element {
      width: 100%;

      &:hover p {
        color: var(--orange-color);
      }
    }

    .active {
      text-shadow: none;
    }

    .active::after {
      display: none;
    }

    .icon-wrapper {
      width: 100%;
    }
  }
}
